@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.containerCard,
.pError{
    background-color: #ff404031;
    backdrop-filter: blur(3px);
    max-height: auto;
    width: 300px;
    padding: .7%;
    border: 1px solid #f00;
    border-radius: 5px;
    height: 325px;
}
header,
main, 
footer{
    animation: fadeIn 1s forwards;
}
header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
}
.idPokemon{
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #fff;
    margin-right: 5%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ff4040;
}
.namePokemon{
    font-size: 1.25rem;
    font-weight: normal;
    align-self: center;
    justify-self: center;
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
}
.typePokemon{
    background-color: #fff;
    color: #ff4040;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: auto;
    height: 35px;
    padding: 0 2.5%;
    text-transform: capitalize;
}
main{
    display: flex;
    justify-content: center;
}
.imgPokemon{
    width: 60%;
    transition: .3s;
    cursor: pointer;
}
.imgPokemon:hover{
    transform: scale(1.5);
}
.boxStats{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.lblHp,
.lblAtk,
.lblDef,
.lblWeight{
    min-width: 100px;
    height: 30px;
    padding: 0 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 50px;
    background-color: #ff4040;
    border: none;
    border-bottom: 1px solid #f00;
    margin: 10% 0;
    color: #fff;
    margin: 2%;
}
.iconFontAwesome{
    margin: 0 5% 0 0;
}
.iconFontAwesome.search{
    margin: 0;
}
p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boxSearch{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.boxSearch input{
    width: 80%;
    height: 45px;
    font-size: 1.25rem;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #f00;
    color: #fff;
    border-radius: 5px;
    outline: 0;
    backdrop-filter: blur(3px);
}
.boxSearch input::placeholder{
    color: #ffffff71;
}
.btnSearch{
    width: 15%;
    height: 45px;
    background-color: #FF2400;
    color: #fff;
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
    margin: 1% 0;
    cursor: pointer;
    transition: .3s;
}
.btnSearch:hover{
    transform: scale(1.01);
}
.btnSearch:active{
    transform: scale(.7);
}
.btnSearch:disabled{
    background-color: transparent;
    color: #ff404031;
    transition: .3s;
}
.pError{
    color: #fff;
    text-align: center;
}