@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:ital,wght@0,400;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans';
}
*::selection{
  background-color: #306bb3;
}
.app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url('./assets/imgs/background.jpg');
  background-size: cover;
}
.logo{
  max-width: 25%;
  margin-bottom: 1%;
}

@media only screen and (max-width: 600px) {
  .app{
    justify-content: start;
    padding-top: 5%;
  }
  .logo{
    max-width: 60%;
  }
}